@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body {
  text-align: center;
  width: 90%;
  margin: 5%;
  display: block;
  background-color: #333335;
  color:#EDD2A3;
  font-family: 'Josefin Sans', sans-serif;
}



img {
  margin: auto;
  width: 40vw;
  margin: 2vh;
  display: inline-table;
}

#doi {
  width: 75%;
}

td {
  border: 1px solid #EDD2A3;
  border-top: transparent;
  border-bottom: transparent;
}

table {
  margin: auto;
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 2vh;
}

.left {
  padding-right: 2vh !important;
}

.right {
  padding-left: 2vh;
}

.logo {
  width: 9vw;
}

h1 {
  text-transform: uppercase;
  width: 15%;
  margin: auto;
  line-height: 80%;
  padding-bottom: 0px !important;
  padding-top: 10px !important;
}
/*
.container {
  isolation: isolate;
}
header {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
header::before, header::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #0eb7da;
  border-right-color: #0eb7da;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #0eb7da;
  border-left-color: #0eb7da;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
*/

.draw {
  transition: 0.6s;
  border: 2px solid #0EB7DA;
  padding: 1vh;
}

h2 {
  padding-top: 0.5vh;
  margin-bottom: 10px !important;
}

th {
  font-size: 30px;
}
