@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  text-align: center;
  width: 90%;
  margin: 5%;
  display: block;
  background-color: #333335;
  /*color:#EDD2A3;*/
  color: #eee;
  font-family: 'Lato', sans-serif;
  overflow-x: wrap;
}




img {
  margin: auto;
  width: 500px;
  margin: 2vh;
  display: inline-table;
  border-radius: 27px;
}

thead img {
  border-radius: 0px;
}


#doi {
  padding-top: 1vh;
}

td {
  border: 3px solid #ccc;
  border-top: transparent;
  border-bottom: transparent;
}

tr {
  padding-top: 1vh;
  padding-bottom: 1vh;
}


table {
  margin: auto !important;
  border-collapse: collapse;
  border-style: hidden;
  margin-top: 2vh;
}

blockquote {
  height: -30vh !important;
}

.left {
  padding-right: 2vh !important;
}

.right {
  padding-left: 2vh !important;
}

.logo {
  width: 9vw;
}

h1 {
  text-transform: uppercase;
  line-height: 50%;
  font-family: 'Abril Fatface', serif;
  font-weight: lighter;
  font-size: 10vw;
  text-align: center;
}

.draw {
  transition: 0.6s;
  border-left: 3px solid #73B1B7;
  border-top: 3px solid #73B1B7;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  border-radius: 27px;
  padding: 1vh;
  margin: auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb; 
}

h2 {
  padding-top: 0.5vh;
  margin-bottom: 10px !important;
}

th {
  font-size: 30px;
}



@media (pointer: coarse) {
  #content table,
  #content thead,
  #content tbody,
  #content th,
  #content td,
  #content tr {
    display: block;
  }
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .draw {
    border-left: 6px solid #73B1B7;
    border-top: 6px solid #73B1B7;
    border-right: 6px solid red;
    border-bottom: 6px solid red;
  }
  #content td {
    border: none;
    position: relative;
    white-space: normal;
    text-align: center !important;
  }
  img {
    margin: auto;
    width: 90vw;
  }
  .left {
    padding-right: 0vh !important;
  }
  .right {
    padding-left: 0vh !important;
  }
  tr {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }
  h2 {
    font-size: 45px;
    font-weight: 400;
  }
  p {
    font-size: 25px;
  }
}


@media only screen and (max-width: 1200px) {
  #content table,
  #content thead,
  #content tbody,
  #content th,
  #content td,
  #content tr {
    display: block;
  }
  #content thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #content td {
    border: none;
    position: relative;
    white-space: normal;
    text-align: center !important;
  }
  img {
    margin: auto;
  }
  .left {
    padding-right: 0vh !important;
  }
  .right {
    padding-left: 0vh !important;
  }
  tr {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }
}

@media (max-width: 550px) {
  img {
    width: 90vw;
  }
  h1 {
    font-size: 12vw;
  }
}



@media (prefers-color-scheme: light) {
  body {
    background-color: #dddddb;
    color: #222;
  }
}



@media (prefers-color-scheme: dark {
  body {
    background-color: #333335;
    color: #eee;
  }
}

